html {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #cccccc;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.sidemenu {
  float: left;
  width: 30%;
  background: #181818;
  height: 100%;
  max-width: 310px;
  border-right: 1px solid #303030;
}

.btn-small {
  font-size: 12px !important;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.maincontent {
  float: left;
  width: 70%;
  background: #1f1f1f;
  height: 100%;
}

.modal-body textarea {
  width: 100%;
  height: 200px;
}

.snippet_li {
  color: #ccc;
  padding-left: 20px;
  padding-top: 15px;
  cursor: pointer;
}

.snippetlist {
  text-align: left;
  font-size: 13px;
}

code {
  white-space: pre !important;
  width: 100% !important;
  padding: 20px !important;
  display: block;
  height: 100%;
  font-size: 14px;
  border: 0px !important;
  background: #1f1f1f !important;
}

.maincontent {
  position: relative;
}

#copyButton {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  z-index: 9;
  border: 0px;
  background: #0d6efd;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.modal-header {
  padding: 10px !important;
}

.modal-header {
  background: #1f1f1f;
  color: #fff;
}

.modal-body {
  background: #181818;
}

.snippet_li {
  position: relative;
}

.edit-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

code {
  border-radius: 0px !important;
  box-shadow: unset !important;
}

.modal-content {
  background: #1f1f1f !important;
}
svg {
  fill: #ccc !important;
  stroke: #ccc !important;
}
.icon-tabler-edit {
  fill: #ccc;
  stroke: #ccc;
}

.snippet-editor {
  width: 100%;
  height: 430px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.modal-dialog {
  width: 95% !important;
  max-width: 95% !important;
  height: 80% !important;
}

.maincontent {
  overflow: auto;
}

.modal .btn {
  float: left;
  max-width: 200px;
}


.modal-header {
  border-bottom: 2px solid #0d6efd !important;
}

.modal-footer {
  border-top: 2px solid #0d6efd !important;
}

.modal-content input {
  width: 100%;
  float: left;
  border: 1px solid #0d6efd;
  border-radius: 0px;
  font-size: 12px;
  margin-bottom: 10px;
}

.modal-content select {
  width: 100%;
  float: left;
  border: 1px solid #0d6efd;
  border-radius: 0px;
  font-size: 12px;
  margin-bottom: 10px;
}

.inputcontainer div {
  width: 100%;
}

.inputcontainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

h5.modal-title {
  font-size: 16px;
}

code {
  font-size: 13px !important;
}

/* CSS per il menu laterale */
/* CSS per il menu laterale */
.sidemenu {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 10px;
  width: 250px;
  height: 100%;
}

.snippet_group {
  margin-bottom: 10px;
}

.group_title {
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

.expand_button {
  float: right;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

.snippet_sublist {
  margin-left: 15px;
  display: none;
}

.snippet_group.expanded .snippet_sublist {
  display: block;
}


.expand_button.expanded {
  content: "-";
}

.snippet_sublist {
  border-bottom: 1px solid #494949;
  padding-bottom: 20px;
}

.snippetlist {
  padding-top: 20px;
  padding-bottom: 20px;
}

button.expand_button {
  margin-top: -26px !important;
  background: #1e1e1e !important;
  border: 0px !important;
}

img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
